.movie-details {
  width: 100%;
  background-color: red;
  padding: 0px;
}

.movie-details-poster {
  float:left;
  padding-top: 7px;
}

.movie-details-poster img{
  width:200px;
}

.movie-details-info {
  float: right;
  width:50%;
  padding: 0 5px 10px 10px;
}

.movie-details-title {
  float: left;
  text-align: left;
  width:150px;
  font-weight: bold;
  font-size: 26px;
}

.imdb-details-rating {
  float: right;
  width:50px;
  text-align:right;
  font-weight: bold;
  font-size: 26px;
  color:blue;
}
.movie-details-rated {
  display:block;
  padding: 0px;
  text-align: left;
  margin: 10px 0px;
  width: 100%;
}
.movie-details-rated button{
  padding: 5px;
  margin: 2px;
}

.movie-details-text h1{
  font-size: 24px;
  text-align: left;
  margin-bottom: 5px;
}
.movie-details-text p{
  font-size: 12px;
  text-align: left;
  margin-top: 0px;
}